.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.text {
  font-size: 1.5em;
}
.text2 {
  font-size: 1em;
}
img {
  height: 150px;
  object-fit: cover;
  width: auto;
  max-width: 100%;
  display: block;
}
